@charset UTF-8;

body {
    background-color: orange;
    color: white;
    font: bold 1.2em Arial, sans-serif;
}
h1 {
    background-color: lightslategray;
    color: blue;
    text-align: center;
}
h2 {
    color: red;
}
p {
    text-align: justify;
}